@import "../../../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &Form {
    margin-top: 40px;
    height: 100%;
    padding: 16px;

    background-color: #f7f9fa;
  }

  &Line {
    display: flex;
    align-items: center;

    margin-top: 30px;

    color: $gray-4;

    font-size: 12px;
    font-weight: bold;

    padding: 0 16px;

    &::after {
      content: "";

      display: block;
      flex-grow: 1;

      height: 1px;
      margin-left: 10px;

      background-color: $gray-5;
    }

    &::before {
      content: "";

      display: block;
      flex-grow: 1;

      height: 1px;
      margin-right: 10px;

      background-color: $gray-5;
    }
  }
}
