@import "../../../../styles/variables";

.wrapper {
  a {
    display: block;

    padding: 10px 5px 10px 15px;

    color: $darkStaleBlue;

    font-weight: 600;
    text-decoration: none;
  }
}

.wrapper:hover {
  a {
    border-radius: 5px;

    background-color: $gray-3;
  }
}
