@import "../../../../styles/variables";

.wrapper {
  margin-top: 40px;
  height: 100%;
  padding: 16px;

  background-color: #f7f9fa;

  &Login {
    width: 100%;
    max-width: 650px;
    height: 50px;
    margin: 40px auto 60px auto;

    p {
      margin-top: 10px;

      color: $gray-4;

      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }

    button {
      height: 48px;
      width: 100%;
      border: 0;
      border-radius: 5px;

      background-color: $gray-6;
      color: $white;

      font-weight: bold;
      font-size: 17px;

      cursor: pointer;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: $gray-8;
    }
  }
}
