@import "../../../../styles/variables";

.wrapper {
  display: none;
  align-items: center;

  width: 100%;
  padding: 0 30px;

  &Logo {
    width: 207px;
    margin-left: -20px;
    margin-top: 10px;
  }

  &Links {
    display: flex;
    align-items: center;

    min-width: 365px;
    margin-right: 5px;
    margin-top: 10px;

    > p {
      position: relative;

      margin: -5px 10px 0 10px;

      font-size: 20px;
      font-weight: 600;

      color: $darkStaleBlue;

      cursor: pointer;
    }
    p:nth-child(1) {
      min-width: 131px;
    }

    p::after {
      content: "";

      position: absolute;
      top: 30px;
      right: 0;

      width: 100%;
      height: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-top-left-radius: 0.25rem;

      background: transparent;

      transition: background 0.3s;
    }

    p:hover::after {
      background: #a8b1ff;
    }
  }

  &SearchBar {
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: 10px;

    &Icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;
      padding: 0 8px;
      border-radius: 50%;
      border: 1px solid $gray-3;

      background-color: transparent;
      color: $steelBlue;

      cursor: pointer;
      transition: border-color 0.3s;

      > svg {
        width: 24px;
        height: 24px;
      }
    }

    &Icon:hover {
      border-color: $darkLavender;
    }
  }
  &SearchBar {
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: 10px;

    &Icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;
      padding: 0 8px;
      border-radius: 50%;
      border: 1px solid $gray-3;

      background-color: transparent;
      color: $steelBlue;

      cursor: pointer;
      transition: border-color 0.3s;

      > svg {
        width: 24px;
        height: 24px;
      }
    }

    &Icon:hover {
      border-color: $darkLavender;
    }

    > div:nth-child(2) {
      display: none;
    }
  }

  &Add {
    position: relative;

    &Button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 37px;
      min-width: 37px;
      height: 37px;
      margin-left: 10px;
      border-radius: 50%;
      border: 0;

      background-color: $blue;
      color: #fff;

      font-size: 21px;

      transition: background-color 0.3s;
      cursor: pointer;
    }

    &Button:hover {
      background-color: $darkLavender;
    }
  }

  &Btns {
    display: flex;

    min-width: 130px;
    margin-left: 10px;

    > button:nth-child(1) {
      border: 1px solid $gray-3;
      margin-right: 10px;
      background-color: transparent;
      color: $steelBlue;
    }

    > button:nth-child(1):hover {
      background-color: $gray-3;
    }
  }
}
