@use "sass:map";
@import "../../../../styles/variables";
@import "./base.module.scss";

@media only screen and (min-width: map.get($breakpoints, "super-smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "smaller-2")) {
}

@media only screen and (min-width: map.get($breakpoints, "small")) {
  .wrapper {
    display: flex;

    &Links {
      min-width: 365px;
      margin-left: -20px;
    }
  }
}

@media only screen and (min-width: map.get($breakpoints, "large-min")) {
  .wrapper {
    padding: 0 30px;

    &Links {
      min-width: 450px;

      > p {
        margin: -5px 20px 0 20px;
      }
    }

    &Btns {
      flex-direction: row;

      min-width: 250px;

      > button:nth-child(1) {
        margin-bottom: 0;
        margin-right: 5px;
      }
    }
  }
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
}

@media only screen and (min-width: map.get($breakpoints, "medium-large")) {
}
