$breakpoints: (
  "super-smaller": 530px,
  "smaller": 672px,
  "smaller-2": 990px,
  "small": 1024px,
  "large-min": 1200px,
  "large": 1440px,
  "medium-large": 1730px,
  "large-max": 1920px,
) !default;

//colors
$white: #fff;
$black: #000;
$darkStaleBlue: #343f52;
$darkStaleBlue-2: #3a4b68;
$gray: #d9dde8;
$gray-2: #282e3e;
$gray-3: #f6f7fb;
$darkLavender: #605dba;
$goldenrod: #ffcd1f;
$goldenrod-2: #ffdc62;
$steelBlue: #586380;
$blue: #4255ff;
$blue-2: #60697b;

$overpass: "Overpass", sans-serif;
$poppins: "Poppins", sans-serif;
