$breakpoints: (
  "mini": 430px,
  "super-smaller": 530px,
  "smaller": 672px,
  "smaller-2": 990px,
  "small": 1024px,
  "large-min": 1200px,
  "large": 1440px,
  "medium-large": 1730px,
  "large-max": 1920px,
) !default;

//colors
$white: #fff;
$black: #000;
$darkStaleBlue: #343f52;
$darkStaleBlue-2: #3a4b68;
$gray: #d9dde8;
$gray-2: #282e3e;
$gray-3: #f6f7fb;
$gray-4: #586380;
$gray-5: #edeff4;
$gray-6: #939bb4;
$gray-7: #d9dde8;
$gray-8: #a3a9bd;
$darkLavender: #605dba;
$goldenrod: #ffcd1f;
$goldenrod-2: #ffdc62;
$steelBlue: #586380;
$blue: #4255ff;
$blue-2: #60697b;
$blue-3: #dadff0;
$blue-4: #e0e9fa;
$blue-5: #a4aec6;

$overpass: "Overpass", sans-serif;
$poppins: "Poppins", sans-serif;
