@import "../../../../styles/variables";

.wrapper {
  margin: 80px auto 0 auto;

  > button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 245px;
    height: 50px;
    margin: 0 auto;
    border: 0;
    border-radius: 15px;

    background-color: $darkLavender;
    color: $white;

    font-size: 19px;

    cursor: pointer;

    > svg {
      width: 30px;

      transform: rotate(-84deg);
      transition: transform 0.3s;
    }
  }

  > button:hover {
    > svg {
      transform: rotate(0);
    }
  }
}
