@import "../../../../styles/variables";

.wrapper {
  display: flex;

  width: 100%;

  &Icon {
    display: flex;
    align-items: center;

    padding: 8px;

    cursor: pointer;

    > svg {
      width: 27px;
      height: 27px;

      color: $darkLavender;
    }
  }

  &SearchBar {
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: 10px;

    &Icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;
      padding: 0 8px;
      border-radius: 50%;
      border: 1px solid $gray;

      background-color: transparent;
      color: $darkLavender;

      cursor: pointer;
      transition: border-color 0.3s;

      > svg {
        width: 24px;
        height: 24px;
      }
    }

    &Bar {
      display: none;

      width: 100%;
      height: 38px;
      border-radius: 25px;

      background-color: $gray-3;

      &Label {
        display: flex;
        align-items: center;

        width: 100%;
        border-radius: 25px;
        border: 1.3px solid transparent;

        cursor: pointer;
        transition: border 0.3s;

        &Icon {
          display: flex;
          justify-content: center;

          width: 40px;
        }

        input {
          height: 38px;
          border: 0;

          background-color: transparent;
          color: $gray-2;

          font-weight: 600;

          cursor: pointer;
          outline: none;
        }
      }

      &Label:hover {
        border-color: $gray-2;
      }
    }

    &Icon:hover {
      border-color: $darkLavender;
    }
  }

  &LoginBtns {
    display: flex;
    align-items: center;

    min-width: 240px;

    > button:nth-child(1) {
      margin-right: 5px;
      border: 1px solid $gray;

      background-color: transparent;

      color: $steelBlue;
    }
    > button:nth-child(1):hover {
      background-color: $gray-3;
    }
  }
}
