@import "../../../../styles/variables";

.wrapper {
  display: flex;

  width: 100%;

  &Icon {
    display: flex;
    align-items: center;

    padding: 8px;

    cursor: pointer;

    > svg {
      width: 27px;
      height: 27px;

      color: $darkLavender;
    }
  }

  &SearchBar {
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: 10px;

    &Icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;
      padding: 0 8px;
      border-radius: 50%;
      border: 1px solid $gray-3;

      background-color: transparent;
      color: $steelBlue;

      cursor: pointer;
      transition: border-color 0.3s;

      > svg {
        width: 24px;
        height: 24px;
      }
    }

    &Icon:hover {
      border-color: $darkLavender;
    }
  }

  &LoginBtns {
    display: flex;
    align-items: center;

    min-width: 240px;

    > button:nth-child(1) {
      margin-right: 5px;
      border: 1px solid $gray-3;

      background-color: transparent;
      color: $steelBlue;
    }

    > button:nth-child(1):hover {
      background-color: $gray-3;
    }
  }
}
