@import "../../../../styles/variables";

.wrapper {
  display: flex;

  width: 100%;

  &Icon {
    display: flex;
    align-items: center;

    padding: 8px;

    cursor: pointer;

    > svg {
      width: 27px;
      height: 27px;

      color: $darkLavender;
    }
  }

  &SearchBar {
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: 10px;

    &Icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;
      padding: 0 8px;
      border-radius: 50%;
      border: 1px solid $gray-3;

      background-color: transparent;
      color: $steelBlue;

      cursor: pointer;
      transition: border-color 0.3s;

      > svg {
        width: 24px;
        height: 24px;
      }
    }

    &Icon:hover {
      border-color: $darkLavender;
    }
  }

  &LoginBtns {
    display: flex;
    align-items: center;

    min-width: 240px;

    > button:nth-child(1) {
      margin-right: 5px;
      border: 1px solid $gray-3;

      background-color: transparent;
      color: $steelBlue;
    }

    > button:nth-child(1):hover {
      background-color: $gray-3;
    }
  }

  &MobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: 100%;
    width: 100%;

    background-color: #fff;

    visibility: hidden;
    opacity: 0;
    overflow: auto;
    transition: visibility 0.3s, opacity 0.3s;

    &Active {
      visibility: visible;
      opacity: 1;
    }

    &Close {
      position: absolute;
      right: 15px;
      top: 15px;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $gray;

      > svg {
        font-size: 28px;

        path {
          stroke: $steelBlue;
        }
      }
    }

    &Nav {
      padding: 0 5px;

      &Item {
        position: relative;

        padding: 16px 8px;

        color: $darkStaleBlue;

        font-size: 20px;
        font-weight: 600;
        text-decoration: none;

        a,
        p {
          text-decoration: none;
        }

        &::after {
          content: "";

          position: absolute;
          top: 10px;
          left: 0;

          width: 5px;
          height: 40px;
          border-top-right-radius: 3px;
          border-bottom-left-radius: 0.25rem;

          background: transparent;

          transition: background 0.3s;
        }

        &:hover::after {
          background: #a8b1ff;
        }
      }

      &Active {
        &::after {
          background: #a8b1ff !important;
        }
      }
    }
  }
}
