@import "../../../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;

  &Title {
    font-size: 19px;
    font-weight: bold;
    color: $darkStaleBlue;
  }

  &Sets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 30px;
  }
}
