@import "../../../../styles/variables";

.wrapper {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 17;

  width: 90%;
  max-width: 890px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 16px;

  background-color: $white;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateY(-50%);

  &Active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
  }

  &Icon {
    position: absolute;
    right: 14px;
    top: 18px;

    border: 0;

    background-color: transparent;

    > svg {
      width: 30px;
      height: 30px;
    }
  }
}
