@import "../../../../styles/variables";

.wrapper {
  display: flex;

  padding: 16px;

  &Nav {
    display: flex;

    h3:nth-child(1) {
      margin-right: 20px;
    }
  }

  &Close {
    position: absolute;
    right: 15px;
    top: 15px;

    display: none;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $gray;

    > svg {
      font-size: 28px;

      path {
        stroke: $steelBlue;
      }
    }
  }
}
