@use "sass:map";
@import "../../../../styles/variables";
@import "./base.module.scss";

@media only screen and (min-width: map.get($breakpoints, "super-smaller")) {
  .wrapper {
    width: 25%;

    &Circle {
      width: 55px;
      height: 55px;

      font-size: 18px;
    }

    &Title {
      font-size: 18px;
    }
  }
}

@media only screen and (min-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "smaller-2")) {
}

@media only screen and (min-width: map.get($breakpoints, "small")) {
}

@media only screen and (min-width: map.get($breakpoints, "large-min")) {
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
}

@media only screen and (min-width: map.get($breakpoints, "medium-large")) {
}
